<%- include("partials/header") -%>

<div class="card card-container mt-2 container col-md-8 col-xl-6">
  <div class="row">
    <div class="card-body container">
      <h5 class="card-title job-title">
       <i class="fas fa-search-location"></i>   <%- JSON.stringify(jobTitle).substring(1, jobTitle.length+1) %>
      </h5>
      <h5 class="card-title company-name"> <i class="far fa-building"></i><%- company %></h5>
      <h5 class="card-title job-location"> <i class="fas fa-map-marker-alt"></i><%= location %></h5>
      <p id="job-post-description" class="card-text job-description">
        <%- JSON.stringify(description) %>
      </p>
      <p class="card-text contract-time">
         <i class="fas fa-hourglass-half"></i><%= jobType.replace(/_/g, " ").toUpperCase() %>
      </p>
      <p class="card-text date-posted">
      <i class="fas fa-calendar-day"></i>    <%= new Date(dayCreated).toLocaleString() %>
      </p>
    </div>
  </div>
  <!-- buttons appl -->
  <div class=" mb-3 d-flex justify-content-start " id="post-btn-div ">
    <div >
      <a target="_blank" href="<%= applyURL %>">
        <%- include("partials/applyBTN.ejs") -%></a
      >
    </div>
    <div class="ml-2">
      <a target="_blank" href="/showJobs/<%= currentPage %>">
        <%- include("partials/goBackBTN.ejs") -%></a
      >
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
