<%- include("partials/header") -%>
<h4>Jobs found: <%= numOfJobsFound %> </h4>

<% for(let i =0 ; i< results.length; i++){%>
<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">

        <span class="badge badge-info"><%= [i+1] %></span>
      <%-  JSON.stringify(results[i].title).substring(1, results[i].title.length+1) %>
    </h5>
    <h5 class="card-title"><%= results[i].company.display_name %></h5>
    <h5 class="card-title"><%= results[i].location.display_name %></h5>
    <p class="card-text">
      <%-  JSON.stringify(results[i].description).substr(0, 107)+ '...' %>
      <a href="/jobPost/<%= results[i].id %>">Read More</a>
    </p>
    <p class="card-text"><%= results[i].contract_time.replace(/_/g, " ").toUpperCase() %></p>
    <p class="card-text"><%= new Date(results[i].created).toLocaleString() %></p>
    <a
      class="btn btn-primary"
      target="_blank"
      href="<%= results[i].redirect_url %>">Apply</a>
  </div>
</div>
<%}%>

<form method="POST" action="/showJobs/<%= currentPage %>">
  <button name="prevPage" value="-1">-</button>
 <h4>Page: <%= currentPage %> / <%= numberOfPages %></h4>

  <button name="nextPage" value="1">+</button>
</form>
<%- include("partials/footer") -%>
